.container {
    background-color: #06D6a0 ;
    padding: 1rem;
    color: #fff;
}

.title {
    padding-left: 3%;
}

.p {
    font-size: 1.8rem;
    padding-top: -3rem;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer__brand {
    font-size: 2.4rem;
    margin-bottom: -1rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer__item {
    margin-bottom: 1rem;
    font-size: 20px;
}

@media(min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__brand {
        margin-bottom: 3;
    }

    .footer__list {
        flex-direction: row;
    }

    .footer__item {
        margin: 0 1rem;
    }
}